<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script data-main="/js/app.js?v=@@timestamp" src="/js/require.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/less/main.css" media="all"/>
</head>
<body>

<input type="text" ng-model="test"/>



{{ test }}

<select data-placeholder="Виберіть місто" name="city" ui-select2 ng-model="user.city" >
    <option value=""></option>
    <option value="one">Вінниця</option>
    <option value="two">Київ</option>
    <option value="three">Чегнігів</option>
</select>

</body>
</html>